input{
	padding: 10px;
	font-size: 14px;
	margin-right: 5px;
}

button{
	padding: 12px 20px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    background: #D98880;
}

button:focus{
	outline: none;
}

.App {
  text-align: center;
  font-size: 30px; 
  padding-top: 20%;
}


.days, .hours, .minutes, .seconds{
	display: inline-block;
	margin: 0.5em;
}

.days span, .hours span, .minutes span, .seconds span{
	display: block;
    color: #A93226;
    font-size: 1.5em;
    background: #F2F3F4;
    padding: 1em 0.2em;
    border-radius: 10px;
    width: 100px;
}


